<h1>Create a Post</h1>
<form action="/post" method="POST">
    <input class="form-control" name="post[title]" placeholder="Title">
    <input class="form-control" name="post[body]" placeholder="Body">
    <button type="submit" class="btn btn-default">Submit</button>
</form>
