<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Want My MVC Demo</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="/">I Want My MVC Demo</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1><%= @post.title %></h1>
                    <br>
                    <%= @post.body %>
                        <hr>
                        <h3>Comments</h3>
                        <% @comments.each do |comment| %>
                            <li>
                                <%=comment.body %>
                            </li>
                        <% end  %>
                        <br>
                        <a class="btn btn-primary" href="/posts/<%= @post.id %>/comments/new" role="button">Post a Comment</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
