<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>I Want My MVC Demo</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">I Want My MVC Demo</a>
            <a class="btn btn-primary navbar-btn navbar-right" href="/posts/<%= @post.id %>/comments/new" role="button">Post a Comment</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Comments for <a href="/posts/<%=@post.id%>"><%= @post.title %></a></h1>
                <br>
                <% @comments.each do |comment| %>
                    <p class="lead">
                        <%= comment.body %>
                    </p>
                    <hr>
                    <% end %>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="footer-text">
                <a href="https://github.com/lorenkp/iwmmvc_demo">Demo (this page) GitHub</a>
                <a href="https://github.com/lorenkp/i_want_my_mvc" class="spacing">I Want My MVC Framework Github</a>
                <a href="https://lorenkp.github.io" class="float-right">Loren Peterson &copy; 2015</a>
            </p>
        </div>
    </footer>
</body>

</html>
